<h1>Members</h1>

<p><a [routerLink]="['/members/create']">Create member</a></p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Card number</th>
            <th>Name</th>
            <th>Mother's name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of members">
            <td>
                <a [routerLink]="['/members', member.id]">
                    {{member.cardNumber}}
                </a>
            </td>
            <td>{{member.name}}</td>
            <td>{{member.mothersName}}</td>
            <td>
                <a [routerLink]="['/members/', member.id, 'edit']">Edit</a>
            </td>
        </tr>
    </tbody>
</table>