<div *ngIf="book">
    <h1>{{book.author}}: {{book.title}}</h1>
    <p>
        <a [routerLink]="['/books/', book.id, 'edit']">Edit</a>
    </p>

    <p><strong>ISBN:</strong> {{book.isbn}}</p>

    
    <p>Book items (<a [routerLink]="['/books/', book.id, 'items', 'create']" class="">Add bookitem</a>):</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Barcode</th>
                <th>Condition</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of book.bookItems">
                <td>{{item.barcode}}</td>
                <td>{{item.condition}}</td>
                <td>{{item.state}}</td>
                <td>
                    <a [routerLink]="['/books/', book.id, 'items', item.id, 'edit']">Edit</a> |
                    <a [routerLink]="['/books/', book.id, 'items', item.id, 'delete']">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
